.button {
  display: flex;
  min-width: 21.8%;
  gap: 4px;
  border-radius: 40px;
  border: 0;
  background: var(--button-color);
  padding: 13.5px 25px;
  align-items: center;
  color: rgba(255, 255, 255, 0.80);
  font-family: 'Poppins', 'Arial', sans-serif;
  font-size: clamp(0.8125rem, 0.6827rem + 0.6923vw, 1.375rem);;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

  @media screen and (max-width: 980px) {
    min-width: 0;
    justify-content: center;
  }

  &:focus {
    outline: none;
    @extend %focus;
  }

  &:hover {
    @extend %hover;
  }
}