%border-style {
  border-radius: 30px;
  background: var(--background-color);
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.50);
}

%title {
  text-align: center;
  font-family: 'Poppins', 'Arial', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

%focus {
  box-shadow: 0 0 5px var(--button-color);
}

%hover {
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}