@mixin font-face($font-family, $url, $weight) {
  @font-face {
    font-family: '#{$font-family}';
    src:
      url('#{$url}.woff2')format('woff2'),
      url('#{$url}.woff')format('woff');
    font-weight: #{$weight};
    font-display: swap;
    font-style: normal;
  }
}

@include font-face('Poppins', './vendor/fonts/extraBold/Poppins-ExtraBold', 800);
@include font-face('Poppins', './vendor/fonts/bold/Poppins-Bold', 700);
@include font-face('Poppins', './vendor/fonts/semiBold/Poppins-SemiBold', 600);
@include font-face('Poppins', './vendor/fonts/medium/Poppins-Medium', 500);
@include font-face('Poppins', './vendor/fonts/regular/Poppins-Regular', 400);