.app {
  background: var(--background);
  padding: 80px 5%;
  min-height: 100vh;

    &__container {
      margin: 0 auto;
      max-width: 1450px;
      padding: 63px 80px;
      background-color: transparent;
      box-shadow: rgba(36, 39, 40, 0.12) 0px 2px 4px 0px, rgba(15, 16, 17, 0.32) 0px 2px 16px 0px;
      border-radius: 30px;
    }
}